<ul class="social-media">
{{# socialMediaChannels }}
	<li class="social-media__item">
		<a class="social-media__link ico--{{channelCssClass}}" href="{{channelLink}}">{{channelName}}</a>
	</li>
{{/ socialMediaChannels}}
</ul>