.pageHeader {
	min-height: 16rem;
	padding: 3rem 0 0;
}

.pageHeader-detail {
	background:
		linear-gradient(to bottom, rgba(0,85,129, 0.6), rgba(0,85,129, 0.6)),
		url("../images/speaking.jpg"),
	    #DCDBDB;
	background-position: center center;
	background-repeat: repeat, no-repeat, repeat;
	background-size: cover;
}

.pageHeader-heading {
  	font-size: 2.5rem;
  	line-height: 1;
	margin: 0 0 .25rem;
	color: var(--color-white);
	span { white-space: nowrap; }
}

.pageHeader-desc {
	font-size: 1rem;
	margin: 0 0 1.5rem;
	color: var(--color-white);
}

@media (--medium) {

	.pageHeader { padding: 5rem 0 2rem; }
	.pageHeader-heading { font-size: 4rem; }
	.pageHeader-desc { font-size: 1.25rem; }
}
