.siteHeader {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	vertical-align: middle;
	transition: border .25s, background .5s;
	border: 0;
	background: transparent;
	border-bottom: 1px solid rgba(255,255,255,.2);
}

.siteHeader > .content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	padding-top: .75rem;
	padding-bottom: .75rem;
	transition: padding, .5s;
}

.siteHeader-logo {
	width: 70px;
	transition: width .5s;
}

.siteHeader.scrolled {
	background: var(--color-blue);
	> .content {
		padding-top: .75rem;
		padding-bottom: .75rem;
	}
	.siteHeader-logo {
		width: 50px;
	}
}
