<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #fff;"></span>
		<span class="sg-label">--color-white (#ffffff)</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #000;"></span>
		<span class="sg-label">--color-black (#000000)</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #8a8a8a;"></span>
		<span class="sg-label">--color-grey (#8a8a8a)</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ccc;"></span>
		<span class="sg-label">--color-grey-light (#cccccc)</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #333;"></span>
		<span class="sg-label">--color-grey-dark (#333333)</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #0A81C4;"></span>
		<span class="sg-label">--color-blue (#0A81C4)</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #8DC5EA;"></span>
		<span class="sg-label">--color-blue-light (#8DC5EA)</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #005581;"></span>
		<span class="sg-label">--color-blue-dark (#005581)</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #8DC63F;"></span>
		<span class="sg-label">--color-green (#8DC63F)</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #72a230;"></span>
		<span class="sg-label">--color-green-dark (#72a230)</span>
	</li>
</ul>
