<div class="sg-pattern-body">
	<h3 style="font-family: Arimo, Helvetica, Arial, sans-serif;">Primary: Arimo</h3>
	<h3 style="font-family: Ciutadella, Helvetica, Arial, sans-serif;">Secondary: Cinderella</h3>
</div>