.footer-section {
	max-width: 36em;
	color: var(--color-white);
}

.footer-section__heading {
	color: var(--color-grey-light);
	text-transform: uppercase;
	font-family: var(--font-family-secondary);
	font-size: 1em;
	font-weight: normal;
	margin-bottom: 1em;
}

@media only screen and (min-width: 40em) {
	.footer-section {
		display: flex;
		justify-content: space-between;
	}
}