.btn {
	font-size: 1rem;
	display: inline-block;
	padding: .5rem 1rem;

	text-align: center;
	text-decoration: none;
	color: var(--color-white);

	border-radius: .2rem;
	background: var(--color-green);
	transition: color .5s, background-color .5s, border-color .5s;

	&:visted { color: var(--color-white); }
}

.btn:hover {
	background: var(--color-green-dark);
	color: var(--color-white);
}

@media (--small) {

	.btn {
		font-size: 1.25rem;
	}

}

