<section class="projectDetails-aside-section projectDetails-blogPost">
 	<h2 class="projectDetails-aside-heading">Speaker</h2>
 	{{# details-speaker }}
	<div class="projectDetails-speaker">
		{{> atoms-avatar }}
		<div class="speaker-info">
			<h2 class="speaker-name">{{ speaker-name }}</h2>
			{{# speaker-social }}
			<a href="{{ url }}" class="speaker-social icon-{{ network }}"><span class="is-vishidden">{{ url }}</span></a>
			{{/ speaker-social }}
		</div>
		<p class="speaker-bio">
			{{ speaker-bio }}
		</p>
	</div>
	{{/ details-speaker }}
</section>