{{# talk-resources }}
<section class="projectDetails-aside-section projectDetails-relatedProjects">
 	<h2 class="projectDetails-aside-heading">{{ resource-list-name }}</h2>
	<ul>
		{{# resources }}
		<li>
			<a href="{{ url }}" target="_blank">{{ resource-name }}</a>
		{{/ resources }}
	</ul>
</section>
{{/ talk-resources }}