{{# blog-post }}
<section class="projectDetails-aside-section projectDetails-blogPost">
 	<h2 class="projectDetails-aside-heading">Want More Info?</h2>
 	<p>
 		{{ author }} wrote about {{ topic }} {{ where }}. Head on over for more info. While you're there, leave a comment telling us what you think.
 	</p>
 	<a href="{{ url }}" class="btn" target="_blank">Read the Post</a>
</section>
{{/ blog-post }}