:root {
	--color-white: #fff;
	--color-black: #000;

	--color-grey: #8a8a8a;
	--color-grey-light: #CCC;
	--color-grey-dark: #333;

	--color-blue: #0A81C4;
	--color-blue-light: #8DC5EA;
	--color-blue-dark: #005581;
	--color-green: #8DC63F;
	--color-green-dark: #72a230;

	--color-text: var(--color-grey-dark);
	--color-text-heading: var(--color-grey-dark);
	--color-text-code: var(--color-blue-dark);
	--color-link: var(--color-blue);
	--color-link-hover: var(--color-blue-dark);

	--font-family-primary: 'Asap', sans-serif;

	--spacing-vertical: 2rem;
	--spacing-horizontal: 1rem;

	--spacing-vertical-large: 4rem;
	--spacing-horizontal-large: 3rem;
}

@custom-media --small (min-width: 38em);
@custom-media --medium (min-width: 56em);
@custom-media --large (min-width: 86em);