.site-footer,
.home-footer {
	background-color: var(--color-grey);
}

.site-footer__content-wrap {
	padding-top: 2em;
	padding-bottom: 2em;
}

.contact-info {
	margin-bottom: 3em;
}

.site-footer__bottom-drawer {
	border-top: 1px solid color(var(--color-white) a(15%));
	padding: 1em 0;
}

.copyright {
	margin-bottom: 1.5em;
}

@media only screen and (min-width: 34em) {
	.copyright, .social-media {
		display: inline-block;
		vertical-align: middle;
	}

	.copyright {
		margin: 0 1em 0 0;
	}
}

@media only screen and (min-width: 60em) {
	.site-footer__content-wrap {
		overflow: hidden;
		padding-top: 3em;
		padding-bottom: 3em;
	}

	.contact-info {
		float: left;
		width: 55%;
		margin-bottom: 0;
	}

	.subscribe-form {
		float: right;
		width: 40%;
	}

	.site-footer__bottom-drawer__content-wrap {
		display: flex;
		justify-content: space-between;
    	align-items: center;
	}

	.footer-nav {
		margin-bottom: 0;
	}
}