.content {
	max-width: 75em;
	margin: 0 auto;
	padding: var(--spacing-vertical) var(--spacing-horizontal);
}


@media only screen and (--small) {
	.content {
		padding: var(--spacing-vertical) 1.5rem;
	}
}

@media only screen and (--medium) {
	.main .content {
		 {
			padding-top: 4.5rem;
			padding-bottom: 6rem;
		}
	}
}

.content-wrap {
	max-width: 75em;
	margin: 0 auto;
	padding: 0 1.5em;
}

.content-wrap--small {
	max-width: 60.94em;
}

@media (min-width: 77em) {
	.content-wrap {
		padding: 0;
	}
}