<article class="projectDetails-article">
	<section class="projectDetails-section article-desc">
		<h1>{{ talk-name }}</h1>
		<p>
			{{ talk-description }}
		</p>
	</section>
	<section class="projectDetails-resources">
	{{> molecules-talk-details-resources }}
	</section>
</article>