
	<!-- Begin Pattern Lab JS -->
	{% pattern-lab-foot %}
	<!-- End Pattern Lab JS -->

	<script src="../../js/system.js"></script>
	<script>
		System.baseURL = '../../js/';
		System.config({
            map: {
                "prism": "lib/prism"
            }
        });
		System.bundles['common'] = ['lib/prism','app'];
		System.import('app').then(function(module) {
			module.default();
		});
	</script>

	</body>
</html>