<header class="siteHeader" data-module="modules/siteHeader">
	<div class="content">
		<a href="http://www.degdigital.com">
			<img class="siteHeader-logo" src="../../images/deg-white.png" alt="DEG" />
		</a>
	</div>
</header>
