<header class="pageHeader pageHeader-detail">
  <div class="content">
    <h1 class="pageHeader-heading">{{ resource-headline }}</h1>
    <p class="pageHeader-desc">
    	Thanks for joining us at {{ conference-name }}!
    </p>
    {{# talk-url }}
    <a href="{{ talk-url }}" class="btn">View Talk on {{ talk-location }}</a>
    {{/ talk-url }}
  </div>
</header>
