<footer class="siteFooter">
  <div class="content">
    <a href="http://www.degdigital.com/">
      <img class="siteFooter-logo" src="../../images/deg-white.png" alt="DEG" />
    </a>
    <ul class="siteFooter-social">
      <li>
        <a href="https://github.com/degdigital/" class="icon-github">DEG on GitHub</a>
      <li>
        <a href="http://www.twitter.com/DEGDigital" class="icon-twitter">@DEGDigital</a>
      <li>
        <a href="http://www.degdigital.com/connect/" class="icon-email">Email Us</a>
    </ul>
  </div>
</footer>
