<footer class="site-footer">
  <div class="site-footer__bottom-drawer">
    <div class="content-wrap site-footer__bottom-drawer__content-wrap">
      {{> molecules-footer-nav }}
      <div class="site-footer__misc">
        {{> atoms-copyright }}
        {{> molecules-social-media }}
      </div>
    </div>
  </div>
</footer>