.featuredProject {
	overflow: hidden;
	padding: 0 0 var(--spacing-vertical);
	border-bottom: 1px solid var(--color-grey-light);
}
.featuredProject-heading {
	font-size: .9rem;
	margin-bottom: 0;
	text-transform: uppercase;
	font-weight: bold;
}

@media (--medium) {
	.featuredProject {
		margin-bottom: 0;
		padding-bottom: var(--spacing-vertical-large);
		border-bottom: 0;
	}
	.featuredProject-name {
		font-size: 3.5rem;
		line-height: 1.1;
	}
	.featuredProject-tags {
		margin-bottom: 1.2rem;
	}
	.featuredProject-hero {
		float: right;
		width: 65.66%;
		margin-bottom: 0;
	}
	.featuredProject-description {
		p { font-size: 1.25rem; }
	}
	.featuredProject-details {
		float: left;
		width: 34.34%;
		padding-right: 2.5rem;
	}
}
