.siteNav {
	background: rgba(51, 51, 51, 0.97);
	border-top: 1px solid var(--color-grey-dark);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 100vh;
	padding-top: 3rem;
	z-index: -1;
	opacity: 0;
	transition: opacity 0.75s;
}
.siteNav-trigger {
	color: var(--color-white);
	margin-right: -6px;
	&:hover { color: var(--color-white); }
}

.siteNav-list {
	width: 100%;
	text-align: right;
}
.siteNav-item {
	font-size: 2rem;
	margin-bottom: 1rem;
	transform: translateY(100%);
	opacity: 0;
	transition: transform .25s ease-in,opacity .75s;
	a {
		display: block;
		padding: .5rem;
		margin: -.5rem;
		&:hover {
			background: rgba(10, 129, 196, 0.5);
			color: var(--color-white);
		}
	}
}

.siteNav-active {
	.siteNav {
		z-index: 2;
		opacity: 1;
		.siteNav-item {
			opacity: 1;
			transform: translateY(0);
		}
	}
	.siteNav-trigger:after {
		content: "\e604";
		font-size: 1.5em;
		line-height: 40px;
		margin-right: 8px;
		margin-left: 18px;
	}
}

@media (--medium) {
	.siteNav-item {
		font-size: 2.5rem;
	}
}