.siteFooter {
	background: var(--color-grey-dark);
	border-top: 1em solid var(--color-grey);
	a {
		color: var(--color-white);
		&:hover, &:before { color: var(--color-grey); }
	}

	.content { padding: 3em 1.5em; }
}

.siteFooter-logo {
	display: block;
	margin: 0 auto;
	width: 100px;
}

.siteFooter-social {
	list-style: none;
	margin: 2em 0 0 0;
	padding: 0;
	text-align: center;
	li {
		display: inline-block;
		margin: .5em 0 .5em 0;
		&:first-child {
			display: block;
		}
		&:last-child {
			margin-left: 1.5em;
		}
	}
}

@media screen and (--small) {
	.siteFooter {
		.content { padding: 3em 1.5em; }
	}

	.siteFooter-social {
		li {
			font-size: 1.2em;
			margin-left: 1.5em;
			&:first-child {
				display: inline-block;
				margin-left: 0;
			}
		}
	}
}