.btn {
	border: 3px solid var(--color-blue);
	color: var(--color-blue);
	background-color: transparent;
	padding: 1em 2em;
	font-size: .875em;
	text-align: center;
	text-transform: uppercase;
	display: inline-block;
	cursor: pointer;
	transition: background-color .25s ease-in, color .25s, ease-in, transform .25s;

	&:hover, &:active {
		color: var(--color-white);
	}

	&:hover {
		text-decoration: none;
		background-color: var(--color-blue-light);
	}

	&:active {
		background-color: var(--color-blue);
		transform: scale(1.025);
	}
}

.btn--alt {
	background-color: var(--color-blue);
	color: var(--color-white);

	&:hover {
		background-color: var(--color-blue-light);
	}

	&:active {
		background-color: var(--color-blue-lighter);
	}
}

.btn--solid {
	background-color: var(--color-blue);
	color: var(--color-white);
	border: 0;
}