.projectDetails-support {
	ul {
		list-style: none;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
}


.projectDetails-browser {
	font-size: 1rem;
	text-align: center;
	transition: color,0.5s;

	&[class*=" icon-"]:before {
		font-size: 2rem;
		display: block;
		margin: 0 0 .25rem;
		opacity: .75;
		transition: color,0.5s;
	}
}