.projectDetails-team {
	ul {
		list-style: none;
		display: flex;
		justify-content: space-between;
  		flex-wrap: wrap;
	}
	li:nth-last-child(2) { margin-bottom: 0; }
}

.projectDetails-team-member {
	width: 50%;
	margin-bottom: 1.25rem;
	padding: .5rem;
	text-align: center;
}

.team-member-img {
	width: 100px;
	max-width: 100%;
	display: block;
	margin-bottom: 1rem;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	border-radius: 50%;
	transition: color,0.5s;
}

.team-member-name {
	font-size: .9rem;
	margin: .5rem 0 .25rem;
	transition: color,0.5s;
}


.projectDetails-team-member:hover {
	.team-member-img {
		-webkit-filter: grayscale(0%);
		filter: grayscale(0%);
	}
	.team-member-name {
		color: var(--color-blue);
	}
}

.speaker-name {
	display: block;
	color: var(--color-grey);
	&:after {
		color: var(--color-blue);
		float: right;
		margin-right: 0;
		transition: color .5s;
	}
	&:hover:after {
		color: var(--color-blue-dark);
	}
}

@media (--small) {
	.projectDetails-team-member { width: 25%; }
}
@media (--medium) {
	.projectDetails-team-member { width: auto; }
}