{{> organisms-header-site }}
{{> organisms-header-page }}
<main class="main projectDetails">
	<div class="content">
		{{> organisms-talk-details-article }}
		{{> organisms-talk-details-aside }}
	</div>
</main>
{{> organisms-footer }}
